<!-- Desktop Navigation -->
<nav class="hidden md:block">
  <ul class="flex space-x-4">
    <li>
      <a
        href="/docs"
        class="text-foreground-secondary hover:text-foreground-bright no-underline hover:underline"
        title="Documentation">Docs</a
      >
    </li>
    <li>
      <a
        href="https://github.com/lancher-dev/jaad"
        class="text-foreground-secondary hover:text-foreground-bright no-underline hover:underline"
        title="Repository"
        target="_blank"
        rel="noopener noreferrer">Repository</a
      >
    </li>
  </ul>
</nav>
